<mat-sidenav-container class="sidenav">
    <mat-sidenav-content class="sidenavcontent" (click)="writting()">Writting</mat-sidenav-content>
    <mat-sidenav-content class="sidenavcontent" (click)="reading()">Reading</mat-sidenav-content>
    <mat-sidenav-content class="sidenavcontent" (click)="stelling()">Story Telling</mat-sidenav-content>
    <mat-sidenav-content class="sidenavcontent" (click)="spellb()">Spell Bee</mat-sidenav-content>
    <mat-sidenav-content class="sidenavcontent" (click)="talkingon()">Talks on Current Affairs</mat-sidenav-content>
    <mat-sidenav-content class="sidenavcontent" (click)="pspeak()">Public Speaking</mat-sidenav-content>
    <mat-sidenav-content class="sidenavcontent" (click)="jornal()">Journalism</mat-sidenav-content>
    <mat-sidenav-content class="sidenavcontent" (click)="photog()">Photography</mat-sidenav-content>
    <mat-sidenav-content class="sidenavcontent" (click)="sports()">Sports</mat-sidenav-content>
    <mat-sidenav-content class="sidenavcontent" (click)="music()">Music</mat-sidenav-content>
    <mat-sidenav-content class="sidenavcontent" (click)="dance()">Dance</mat-sidenav-content>
  </mat-sidenav-container>
  